@import "calendar-mixins";

.calendar {
  width: ($cell-width * 7) + 6;
  display: flex;
  flex-wrap: wrap;
  gap: $cell-gap;

  & > div {
    width: $cell-width;
    height: $cell-height;
    border: $cell-border;
    background-color: $cell-background-color;
    position: relative;
    transition: all 0.5s;

    &:hover {
      background-color: $cell-hover-background-color;
      cursor: pointer;
      transform: translate(0, -20px);
    }
  }
}

$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

@each $day, $order in $days {
  .calendar-#{$day} {
    div:first-child {
      margin-left: ($cell-width + $cell-gap) * $order;
    }
  }
}

@for $length from 28 through 31 {
  .calendar-#{$length} > div:nth-child(n + #{$length + 1}) {
    display: none;
  }

  @include fill-data($length);
}
