@mixin first-day() {
  $days: (
    mon: 0,
    tue: 1,
    wed: 2,
    thu: 3,
    fri: 4,
    sat: 5,
    sun: 6
  );

  @each $day, $order in $days {
    .calendar-#{$day} {
      div:first-child {
        margin-left: ($cell-width + $cell-gap) * $order;
      }
    }
  }
}

@mixin month-length() {
  @for $length from 28 through 31 {
    .calendar-#{$length} > div:nth-child(n + #{$length + 1}) {
      display: none;
    }

    @include fill-data($length);
  }
}

@mixin fill-data($length) {
  @for $i from 1 through $length {
    .calendar-#{$length} > div:nth-child(#{$i})::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "#{$i}";
    }
  }
}
