@mixin fill-data($length) {
  @for $i from 1 through $length {
    .calendar-#{$length} > div:nth-child(#{$i})::before {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      content: "#{$i}";
    }
  }
}
